<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, viewport-fit=cover, shrink-to-fit=no">
    <meta charset="UTF-8" />
    <title>WebApp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <header class="header">
        <div class="header_content">
            <a href="#" class="logo"><img src="../../static/photo/logisko.png" ></a>


            <nav class="nav">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="project1.html" class="nav_link">O nás</a>
                    </li>
                    <li>
                        <a href="#projekty" class="nav_link">Projekty</a>
                    </li>
                    <li>
                        <a href="#kriteria" class="nav_link">Kritéria pro zařazení</a>
                    </li>
                    <li>
                        <a href="#jakpomoci" class="nav_link">Jak pomoci?</a>
                    </li>
                    <li>
                        <a href="#kontakt" class="nav_link">Kontakt</a>
                    </li>

                </ul>
            </nav>

            <button class="donate">CHCI PŘISPĚT</button>

            <div class="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>


    </header>

    <div class="spacer"></div>
    <div class="spacer"></div>


    <script src="../../static/js/script.js"></script>
    
    <div class="page">


        <div class="formspace">
            <div class="formular">
            <div class="forminfo">
                <div class="finfomini">Předáme 100% vašeho daru</div>
                <div class="finfomain">
                    <h1 class="nazevpripadu">Cortex - Pro první krok</h1>
                </div>
                <div class="finfopic"><img class="finfopic" src="../../static/photo/uvodnifoto.jpg" alt="family"></div>
            </div>

            <form id="donationForm">

                <div class="prvnikrok">
                    <div class="nazevkroku">1. Podpořte příběh</div>
                    <div class="popiskroku">
                        <h3>Částka</h2>
                    </div>

                    <div class="prvnikrokform">
                        <div class="castka">
                            <input type="radio" name="castka" value="3500">
                            <label for="3500">3 500 Kč</label>
                        </div>
                        <div class="castka">
                            <input type="radio" name="castka" value="2000">
                            <label for="2000">2 000 Kč</label>
                        </div>
                        <div class="castka">
                            <input type="radio" name="castka" value="1000">
                            <label for="1000">1 000 Kč</label>
                        </div>
                        <div class="castka">
                            <input type="radio" name="castka" value="600" checked>
                            <label for="600">600 Kč</label>
                        </div>
                        <div class="castka">
                            <input type="radio" name="castka" value="300">
                            <label for="300">300 Kč</label>
                        </div>
                        <div class="castka">
                            <input type="radio" name="castka" value="other">
                            <label for="other">Jiná částka</label>
                        </div>

                    </div>
                    <div class="input-wrapper">
                        <input type="number" id="customAmount" name="customAmount" placeholder="Zadejte částku v Kč" min="1"
                            style="display: none">
                        </div>
                </div>

                <div class="prvnikrok">
                    <div class="nazevkroku">2. Způsob platby</div>
                    <div class="popiskroku">
                        <h3>Způsob platby</h2>
                    </div>

                    <div class="druhykrokform">
                        <div class="platba">
                            <input type="radio" id="typplatby1" name="typplatby" value="karta">
                            <label for="typplatby1">
                                Platební karta
                                <img src="../../static/photo/visalogo.png" alt="Visa Mastercard GPay">
                            </label>

                            <input type="radio" id="typplatby2" name="typplatby" value="prevod">
                            <label for="typplatby2">
                                Bankovní převod
                            <img src="../../static/photo/transfer.png" alt="banktransfer" style="max-width: 90px;">
                        </label>

                        </div>
                    </div>
                    
                    </div>

                    <div class="prvnikrok">
                        <div class="nazevkroku">3. Údaje o přispivateli</div>
                        <div class="popiskroku">
                            <h3>Vaše údaje</h2>
                        </div>

                        <div class="udaje">
                            <div class="udaje">
                                <label for="mail">Váš e-mail:</label><br>
                                <input type="text" id="mail" name="mail"><br>
                            </div>
                            <div class="udaje">
                                <label for="fname">Jméno:</label><br>
                                <input type="text" id="fname" name="fname"><br>
                            </div>
                            <div class="udaje">
                                <label for="lname">Příjmení:</label><br>
                                <input type="text" id="lname" name="lname">
                            </div>

                            <div class="spacer"></div>


                            <div class="cekbox">
                                <input type="checkbox" id="potvrzeni" name="potvrzeni" class="largecheck">
                                <label for="potvrzeni">Chci vystavit potvrzení o daru</label>
                                <div class="cekboxinfo"><p class="checkboxinfo">Dar je možné odečíst od daňového
                                        základu, potvrzení vám zašleme e-mailem.</p></div>

                                <div class="udajepotvrzeni" style="display: none;">

                                    <div class="udaje">
                                        <label for="jmenofirma">Jméno a příjmení, nebo název firmy</label><br>
                                        <input type="text" id="jmenofirma" name="jmenofirma"><br>
                                    </div>

                                    <div class="udaje">
                                        <label for="adress">Ulice a číslo</label><br>
                                        <input type="text" id="adress" name="adress"><br>
                                    </div>

                                    <div class="udaje">
                                        <label for="city">Město</label><br>
                                        <input type="text" id="city" name="city"><br>
                                    </div>

                                    <div class="udaje">
                                        <label for="post">PSČ</label><br>
                                        <input type="text" id="post" name="post"><br>
                                    </div>



                                    <div class="udaje">
                                        <label for="ico">IČO</label><br>
                                        <input type="text" id="ico" name="ico"><br>
                                        <div class="cekboxinfo"><p class="checkboxinfo">Vyplňte jen v případě právnické
                                                osoby.</p></div>

                                    </div>

                                    <div class="udaje">
                                        <label for="datepick">Datum narození</label><br>
                                        <input type="date" id="datepick" name="datepick"><br>
                                    </div>




                                </div>
                            </div>



                            <button class="darovat" type="submit" id="submitButton">Přispět 600 Kč</button>

            </form>
        </div>

        </div>


</div>


    </div>
    

    </div>

    <div class="spacer"></div>
    <div class="spacer"></div>


        <footer class="footer">
            <div class="footerup">
                <div class="container">
                    <div class="link1">
                        <img src="../../static/photo/logisko.png" alt="" class="logo" style="width: 113px;">
                    </div>
                    <div class="link2">
                        <p>Cortex Neuro Centre je neuro-terapeutické centrum v Praze. Naší hlavní specializací jsou programy intenzivní terapie, které obvykle probíhají v tzv. cyklech, kdy je nastaven individuální terapeutický plán na základě předchozí vstupní konzultace.</p>
                    </div>
                    <div class="link3">
                        <div class="adresa"><i class="fa fa-map-marker" style="font-size: 20px;"></i> Chlumčanského 497/5, Praha, 180 00</div>
                        <div class="mail"><i class="fa fa-envelope" aria-hidden="true" style="font-size: 15px;";></i> info@cortexneurocentre.cz</div>
                        <div class="mob"><i class="fa fa-mobile" style="font-size: 25px;"></i> +420 702 127 286</div>
                    </div>
                </div>

                <hr class="solid">
                
                <div class="fullunderlineblock">
                <div class="underlineblock">
                
                    <div class="copyright">©2024 Cortexneurocentre s. r. o.</div>
                    <div class="links">
                        <a href="https://cortexneurocentre.cz/zasady-cookies-eu/" class="links">GDPR</a> <a href="https://cortexneurocentre.cz/wp-content/uploads/2022/12/Vseobecne-obchodni-podminky-Cortex-Neuro-Centre.docx-8.pdf" class="links">VSP</a>
                    </div>
    
                </div>
    
                <div class="socky">
                    <div class="facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></div>
                     <div class="insta"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                     <div class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                 </div>

                </div>
                </div>  
    
        </footer>





</body>

</html>