* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif ;
}

ul{
    list-style: none; 
}

a{
    text-decoration: none;
    color: inherit;
}

html, body{
    font-family: "Rubik", sans-serif ;
    margin:0;
    padding:0;
    height:100%;
}


 #container {
    min-height:100%;
    position:relative;
 }
 #header {
    background:#ff0;
    padding: 10px;
 }
 #body {
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
 }
 #footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
 }





h1.nazevpripadu{
    font-size: 25px;
    font-weight: bold;
    font-family: "Rubik", sans-serif ;
}

.header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 132.969px;
    background-color: white; /* Nastavení bílé barvy pozadí */
    width: 100%; /* Nastavení šířky pro centrální zarovnání */
    max-width: 1200px; /* Maximální šířka */
    margin: 0 auto; /* Zarovnání na střed stránky */
    border-radius: 10px; /* Zakulacení rohů */
    box-shadow: rgba(127, 138, 164, 0.1) 0px 0px 30px 0px; /* Lehké stínování */
}

.page {
    margin-top: 100px;

}

.formspace{
    display: grid;
    border: rgba(255, 255, 255, 0.6) solid;
    border-radius: 10px;
    width: 500px;
    place-items: center;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.2);
    
}

.spacer{
    height: 30px;
}
  
.udaje{
    margin-top: 5px;
}

.forminfo{
    margin-top: 10px;
    width: 300px;
    text-align: center;
}

div.nazevkroku{
    font-weight: 600;

}

.cekbox{
    margin-bottom: 12px;
}

a.checkboxinfo{
    font-size: 70%;
    color: #C7A242;
}

.finfomini {
    margin-bottom: 10px;
    font-family: "Rubik", sans-serif;
}

img.finfopic{
    border-radius: 20px;
    border: rgba(156, 155, 155, 0.5) solid;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.2);
    max-width:300px ;
}


input.largecheck {
    width: 15px;
    height: 15px;
    accent-color: #C7A242;
}


input[type=radio] {
    width: 18px;
    accent-color: #ac8d3e; 
}

input[type="radio"]:checked {
    background-color: #C7A242;
    border-color: #C7A242;
}

input[type=text] {
    width: 450px;
    font-size: 16px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#_datepicker > .ui-datepicker {
    font-family: system-ui;
    height: auto;
    display: block;
    background: rgba(64, 64, 64, 0.9294117647);
    border: 0 !important;
    padding: 6px;
  }

        /* Základní stylování pro input[type=date] */
        input[type="date"] {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: #f5f5f5;
            border: 2px solid #cccccc;
            border-radius: 4px;
            font-family: 'Arial', sans-serif;
            font-size: 16px;
            padding: 10px 15px;
            color: #333;
            outline: none;
            transition: border-color 0.3s, box-shadow 0.3s;
            width: 100%;
            max-width: 300px;
            box-sizing: border-box;
        }

        /* Stylizování při najetí myší a aktivním stavu */
        input[type="date"]:hover,
        input[type="date"]:focus {
            border-color: #C7A242;
            box-shadow: 0 0 8px rgba(199, 180, 7, 0.2);
        }

        /* Přidání ikonky kalendáře pomocí pseudoelementu */
        input[type="date"]::-webkit-calendar-picker-indicator {
            background-color: #C7A242;
            padding: 5px;
            border-radius: 4px;
            cursor: pointer;
        }

        /* Resetování ikony kalendáře pro Firefox */
        input[type="date"]::-moz-calendar-picker-indicator {
            background: none;
        }

.input-wrapper {
    display: inline-block;
    position: relative;
}

#customAmount {
    width: 220px; /* Zvětšení velikosti vstupního pole */
    padding-right: 40px; /* Rezervace místa pro 'Kč' */
    font-size: 16px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#customAmount::-webkit-outer-spin-button,  /* Vypnutí šipek pro Chrome, Safari, Edge, Opera, Firefox */
#customAmount::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#customAmount[type=number] {
    -moz-appearance: textfield;
}

.input-wrapper::after {
    content: 'Kč';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #000;
    display: none;
}

.finfomain {
    margin-bottom: 10px;
}

.prvnikrok {
    text-align: left; /* Zarovná texty vlevo */
    margin-bottom: 20px; /* Přidá mezeru pod touto sekcí */
    margin-top: 40px;
}



/* Styl pro input radio - skrytý */
.platba input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

/* Styl pro label */
.platba label {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    justify-content: space-between;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}

/* Styl pro stav vybraného tlačítka */
.platba input[type="radio"]:checked + label {
    background-color:#C7A242;
    border-color: #C7A242;
}


.platba label:hover {
    background-color: #dfd;
  }


/* Styl pro zobrazení obsahu ikony uvnitř tlačítka (pokud je potřeba) */
.platba label img {
    margin-left: 10px;
    max-width: 300px; /* Přizpůsobte podle potřeby */
    display: inline-block;

}





.popiskroku {
    margin-top: 20px;
}

.prvnikrokform{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    margin-top: 20px;
    width: 300px;
}

.castka {
    gap: 10px;
    display: flex;
}

.logo img {
    max-height: 100%; /* Maximalizuje velikost obrázku v rámci rodičovského kontejneru */
    height: 112.97px;     /* Nastaví konkrétní výšku loga */
    width: auto;      /* Zajišťuje správný poměr stran */
    margin-left: auto;
}


button.darovat {
    width: 100%;
    padding: 15px;
    background-color: #C7A242;
    color: #fff;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.darovat:hover {
    background-color: #C7A242;
}



.donate{
    border-radius: 30px;
    background-color: rgb(199, 162, 66);
    border: 0;
    color: white;
    font-family: Work Sans;
    font-size: 15px;
    padding: 22px 35px; /* Přidá padding pro konzistentní velikost */
    text-decoration-color: #f1f1f1;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    font-weight: 450;
    height: auto;
    display: inline-block;
}


.nav {
    transition: all 0.3s ease-in-out;

}

.nav_list {
    display: flex;
    column-gap: 40px;
    align-items: center;
    margin-left: auto;

}



.nav_link {
    
    color: rgba(105, 111, 140, 0.8);
    font-weight: 550;
    text-decoration-style: solid;
    font-size: 16px;
    transition: all 0.4s;
}

.nav_link:hover,
.nav_link:focus {

    color: rgba(199, 162, 66, 1);

}

.hamburger {
    display: none;
    cursor: pointer;

}

.bar {
    height: 2px;
    width: 27px;
    background: black;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.nav--open {
    opacity: 1 !important;
    visibility: visible !important;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.footer {
    padding: 6rem 0;
    background-color: #C7A242;
    height: 560px;
}
.footer hr {
    border-color: #e0e0e0;
}
.footer a {
    color: #e0e0e0;
}

@media (max-width: 1025px){
    .nav {
        position: fixed;
        top: 127px;
        left: 0;
        background-color: white;
        width: 100%;
        padding: 10px 0 25px;
        opacity: 0;
        visibility: hidden;
        height: 100%;
        
    }

    .nav_list{
        flex-direction: column;
        align-items: start;
        row-gap: 18px;
        margin-left: 30px;
        margin-top: 30px;
        
    }

    .nav_link {
        font-size: 18px;
        color: #C7A242;
        font-weight: 500px;
        
    }

    .hamburger {
        display: block;
    }
}